<div class="login-container">
  <div class="login-card">
    <div class="logo">
      <mat-icon class="cookie">cookie</mat-icon>
      <div class="logo-text">
        <span class="faca">FAÇA</span>
        <span class="receita">RECEITA</span>
      </div>
    </div>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      

      <div class="col-md-12 form-group input-area">
        <label for="email">E-mail:</label>
        <input type="email" id="email" formControlName="email" />
        <!-- <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="error-message">
          O e-mail é inválido ou não foi preenchido.
        </div> -->
      </div>

      <div class="col-md-12 form-group input-area">
        <label for="password">Senha:</label>
        <input type="password" id="password" formControlName="password" />
        <!-- <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" class="error-message">
          A senha é obrigatória e deve ter pelo menos 6 caracteres.
        </div> -->
        <div class="forgot-password">
          <a>Esqueci minha senha</a>
        </div>
      </div>

      <div class="col-md-8">
        <button type="submit" (click)="onLogin()">LOGIN</button>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12 create-account">
        <p class="register-text">Não possui uma conta? <a (click)="onRegister()">Cadastre-se</a></p>
      </div>
    </div>
  </div>
</div>