<div class="top-bar">
  <div class="row col-md-12 top-bar-content">
    <div class="col-md-2 top-bar-content-left">
      <div class="faca">
        FAÇA
      </div>
      <div class="receita">
        RECEITA
      </div>
    </div>
    <div class="col-md-8 top-bar-content-center">
      <div class="center-elements">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" class="input-search" placeholder="">
      </div>
    </div>
    <div class="col-md-2">
      <div class="top-bar-content-right">
        <mat-icon>settings</mat-icon>
        <mat-icon>person_apron</mat-icon>
      </div>
    </div>
  </div>
</div>