@import '../../../styles.scss';

.top-bar {
  height: 42px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $tertiary-color;

  .top-bar-content {
    display: flex;
    align-items: center;
  }

  .top-bar-content-center {
    display: flex;
    justify-content: center;

    .input-area {
      width: 40%;
      margin-top: 18px;
      input {
        height: 28px;
        background-color: $card-background;
      }
    }

    .center-elements {
      display: flex;
      align-items: center;

      .search-icon {
        font-size: 25px;
        color: $primary-color;
        margin-right: 10px;
      }
    }
  }

  .top-bar-content-right {
    display: flex;
    align-items: center;
    justify-self: end;
    color: $primary-color;

    :hover {
      cursor: pointer;
      color: $primary-hover; 
    }
  }

  .top-bar-content-left {
    display: flex;
    align-items: center;
    justify-self: start;
    color: $primary-color;

    :hover {
      cursor: pointer;
      opacity: 0.9;
  
    }

    .logo {
      .logo-text {
        margin-top: 18px;
      }
    }
  }
}