<div class="top-bar">
  <div class="row col-md-12 top-bar-content">
    <div class="col-md-2 top-bar-content-left">
      <div class="logo">
        <mat-icon class="cookie">cookie</mat-icon>
        <div class="logo-text">
          <h3 class="faca">FAÇA</h3>
          <h3 class="receita">RECEITA</h3>
        </div>
      </div>
    </div>
    <div class="col-md-8 top-bar-content-center">
      <div class="center-elements input-area">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" placeholder="Buscar receita">
      </div>
    </div>
    <div class="col-md-2">
      <div class="top-bar-content-right">
        <mat-icon>settings</mat-icon>
        <mat-icon>person_apron</mat-icon>
      </div>
    </div>
  </div>
</div>