<div class="reset-password-container">
  <div class="reset-pass-card">
    <div class="logo">
      <mat-icon class="cookie">cookie</mat-icon>
      <h5 class="faca">FAÇA</h5>
      <h5 class="receita">RECEITA</h5>
    </div>

    <span class="reset-pass-title">Redefina sua senha</span>
    <p class="reset-pass-text">Preencha os campos abaixo com uma nova senha para a conta {{email}}.</p>

    <form [formGroup]="form" (ngSubmit)="createNewPassword()">
      <div class="form-group">

        <div class="password-input">
          <label for="newPassword">Nova senha:</label>
          <input type="password" id="newPassword" formControlName="newPassword" (input)="onPasswordInput($event)"/>
          <div *ngIf="newPasswordControl?.touched && newPasswordControl?.hasError('required')" class="message-error">
            A nova senha é obrigatória.
          </div>
        </div>

        <div class="password-input">
          <label for="confirmNewPassword">Confirmação da nova senha:</label>
          <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword"/>
          <div *ngIf="confirmPasswordControl?.touched && confirmPasswordControl?.hasError('required')" class="message-error">
            Confirmação de senha é obrigatória.
          </div>
          <div *ngIf="form.touched && form.hasError('passwordMismatch')" class="message-error">
            A senha e confirmação de senha não coincidem.
          </div>
        </div>

        <div>
          <app-password-rules></app-password-rules>
        </div>

        <div class="col-md-6 align-button">
          <button type="submit" class="btn-primary" [disabled]="requestSent">CONFIRMAR</button>
        </div>

      </div>
    </form>
  </div>
</div>
