<div class="simulate-recipe">
  <form [formGroup]="recipeToSimulationForm">
    <div class="row header-row">
      <div class="select-area col-md-4">
        <label>Receita</label>
        <select formControlName="recipeId">
          <option *ngFor="let recipe of recipeOptionList" [value]="recipe.id">{{ recipe.name }}</option>
        </select>
      </div>
      <div class="input-area col-md-2">
        <label>Quantidade</label>
        <input type="text" placeholder="Quantidade" formControlName="quantity"/>
      </div>
      <div class="input-area col-md-2">
        <label>Margem lucro (%)</label>
        <input type="number" placeholder="Ex.: 50%" formControlName="profit"/>
      </div>
      <div class="col-md-1 button-area">
        <button>
          <mat-icon (click)="addRecipeToSimulation()">add_box</mat-icon>
        </button>
        <button>
          <mat-icon (click)="removeRecipeToSimulation()">cancel</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <div class="row table-area">
    <mat-table [dataSource]="ingredientList" class="mat-elevation-z8">

      <ng-container matColumnDef="ingredient">
        <th mat-header-cell *matHeaderCellDef>Ingrediente</th>
        <td mat-cell *matCellDef="let element">{{ element.ingredient }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="measurementUnit">
        <th mat-header-cell *matHeaderCellDef>Unid. Medida</th>
        <td mat-cell *matCellDef="let element">{{ getMeasureUnitLabel(element.measurementUnit) }}</td>
      </ng-container>

      <ng-container matColumnDef="unitCost">
        <th mat-header-cell *matHeaderCellDef>Custo/receita</th>
        <td mat-cell *matCellDef="let element">
          <div class="table-input-area">
            <input class="unit-cost-input" 
                   matInput type="number" 
                   [(ngModel)]="element.unitCost"
                   (change)="calculeTotalItem(element)"/>
          </div>
        </td>
      </ng-container>

      <tr class="mat-header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="mat-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
  </div>
  <div class="row summary-table">
    <table>
      <tr>
        <td colspan="2"><strong>Custo estimado por receita</strong></td>
        <td><strong>R$ {{ simulationResult.costPerRecipe | number: '1.2-2' }}</strong></td>
      </tr>
      <tr>
        <td colspan="2"><strong>Custo total estimado</strong></td>
        <td><strong>R$ {{ simulationResult.totalCost | number: '1.2-2' }}</strong></td>
      </tr>
      <tr>
        <td colspan="2"><strong>Preço de venda sugerido por receita</strong></td>
        <td><strong>R$ {{ simulationResult.saleValue | number: '1.2-2' }}</strong></td>
      </tr>
    </table>

  </div>
  <app-finish-button
      confirmLabel="{{simulated ? 'SALVAR' : 'SIMULAR'}}"
      (onConfirm)="execute()"
      (onCancel)="cancel()"
    >
  </app-finish-button>
</div>