@import '../../styles.scss';

.simulate-recipe {

  .header-row {
    display: flex;
  }

  .summary-table {
    width: 100%;
    margin: 10px 10px 10px 10px;
    border-collapse: collapse;

    th, td {
      text-align: left;
      font-size: smaller;
      strong {

        font-family: $default-font;
        font-weight: 500;
        color: $text-dark-color;
      }
    }

    th {
      background-color: #f2f2f2;
    }
  } 
}