<div class="simulate-recipe">
  <div class="row">
    <div class="select-area col-md-4">
      <label>Receita</label>
      <select>
        <option value="gramas">Gramas</option>
      </select>
    </div>
    <div class="input-area col-md-2">
      <label>Quantidade</label>
      <input type="text" placeholder="Quantidade"/>
    </div>
  </div>
  <div class="row table-area">
    <mat-table [dataSource]="ingredientList" class="mat-elevation-z8">
      <ng-container matColumnDef="ingredient">
        <mat-header-cell *matHeaderCellDef>Ingrediente</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ingredient}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="measurementUnit">
        <mat-header-cell *matHeaderCellDef>Unidade</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.measurementUnit}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="unitCost">
        <mat-header-cell *matHeaderCellDef>Custo Unitário</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.unitCost}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="totalCost">
        <mat-header-cell *matHeaderCellDef>Custo Total</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.totalCost}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <app-finish-button 
      confirmLabel="SIMULAR"
      (onConfirm)="generateSimulation()"
      (onCancel)="cancel()"
    >
  </app-finish-button>
</div>