<div class="register-recipe">
  <form [formGroup]="recipeForm">
    <div class="row">
      <div class="input-area col-md-4">
        <label>Receita</label>
        <input type="text" formControlName="name" placeholder="Nome da receita" />
      </div>
      <div class="input-area col-md-8">
        <label>Descrição</label>
        <input type="text" formControlName="description" placeholder="Descrição da receita" />
      </div>
      <div class="select-area col-md-4">
        <label>Categoria</label>
        <select formControlName="category" placeholder="Categoria">
          <option *ngFor="let option of recipeCategoryOptions" [value]="option.key">
            {{ option.label }}
          </option>
        </select>
      </div>
      <div class="select-area col-md-4">
        <label>Tipo do rendimento</label>
        <select formControlName="yieldType" placeholder="Tipo de rendimento">
          <option *ngFor="let option of yieldTypeOptions" [value]="option.key">
            {{ option.label }}
          </option>
        </select>
      </div>
      <div class="input-area col-md-4">
        <label>Rendimento</label>
        <input type="text" formControlName="recipeYield" placeholder="Rendimento da receita" />
      </div>
      <div class="input-area col-md-4">
        <label>Tempo de preparo (min.)</label>
        <input type="text" formControlName="preparationTime" placeholder="Tempo de preparo" />
      </div>

      <div class="input-text-area col-md-12">
        <label>Modo de preparo</label>
        <textarea formControlName="preparationInstructions" placeholder="Modo de preparo"></textarea>
      </div>
    </div>
    <div class="row" [formGroup]="ingredientForm">
      <div class="input-area col-md-4">
        <label>Ingrediente</label>
        <input type="text" formControlName="ingredient" placeholder="Ingrediente" />
      </div>
      <div class="select-area col-md-4">
        <label>Unidade medida</label>
        <select formControlName="measurementUnit">
          <option *ngFor="let option of yieldTypeOptions" [value]="option.key">
            {{ option.label }}
          </option>
        </select>
      </div>
      <div class="input-area col-md-2">
        <label>Quantidade</label>
        <input type="text" formControlName="quantity" placeholder="Quantidade"/>
      </div>
      <div class="button-area col-md-1">
        <button mat-icon-button color="primary" (click)="addIngredient()" [disabled]="ingredientForm.invalid">
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <div class="row table-area">
    <mat-table [dataSource]="ingredientList" class="mat-elevation-z8">
      <ng-container matColumnDef="ingredient">
        <th mat-header-cell *matHeaderCellDef>Ingrediente</th>
        <td mat-cell *matCellDef="let element">{{element.ingredient}}</td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
      </ng-container>
      <ng-container matColumnDef="measurementUnit">
        <th mat-header-cell *matHeaderCellDef>Unidade</th>
        <td mat-cell *matCellDef="let element">{{getMeasureUnitLabel(element.measurementUnit)}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="list-action-button" (click)="editIngredient(element)">edit</mat-icon>
            <mat-icon class="list-action-button" (click)="removeIngredient(element)">delete</mat-icon>
        </td>
      </ng-container>
      <tr class="mat-header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="mat-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
  </div>
  <app-finish-button 
      confirmLabel="SALVAR"
      [disabledConfirmButton]="!recipeForm.valid || ingredientList.data.length === 0"
      (onConfirm)="finish()"
      (onCancel)="cancel()">
  </app-finish-button>
</div>