@import '../../../styles.scss';

.password-instructions {
    margin-top: 4px;
    margin-bottom: 0px;
    
    .pw-rules {
      font-size: 13px;
      font-family: $default-font;
      margin: 0;
      padding-left: 12px;
      line-height: 1.1;

      li {
        margin: 0.25rem 0;
        color: $text-dark-color;
        list-style: "• ";

        &.ok {
          color: $secondary-color;
          font-weight: 600;
          list-style: "✓ ";
        }
      }
    }
  }