@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary-color: #FF924A; // Cor Primária (Laranja)
$secondary-color: #4B715F; // Cor Secundária (Verde)
$tertiary-color: #F3E6C0; // Cor Terciária (Bege)
$quaternary-color: #5f4909; // Cor Quaternária (Marrom)
$complementary-color: #D3D3D3; // Cor Complementar (Cinza Claro)
$complementary-color2: #ffa76d; // Cor Complementar (Cinza Claro)
$complementary-color3: #628876; // Cor Complementar (Cinza Claro)
$complementary-color4: #e2e2e2; // Cor Complementar (Cinza Claro)

$background-color: #f0ebdd; // Plano de Fundo (Bege)
$sidebar-color: #D3D3D3; // Menu Lateral (Cinza Claro)
$topbar-color: #D3D3D3; // Menu Superior (Cinza Claro)
$text-dark-color: #333333; // Texto Principal (Cinza Escuro)
$text-light-color: #666666; // Texto Secundário (Cinza Claro)
$default-font: 'Poppins', sans-serif; // Fonte Padrão

* {
  font-family: 'Poppins', sans-serif;
}

mat-icon {
  font-family: 'Material Icons';
  font-size: 26px;
  margin: 2px;
}

.mat-icon-button {
  color: $secondary-color;

  &:hover {
    color: $complementary-color3;
    cursor: pointer;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

.app-container {
  height: 100%;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0px;

  label {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: $text-dark-color;
    font-weight: 500;
    margin-bottom: -5px;
  }

  input {
    width: 100%;
    height: 25px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid $secondary-color;
    background-color: $complementary-color4;
    font-size: 16px;
    margin-right: 8px;

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 5px $primary-color;
    }
  }
}

.input-text-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0px;

  label {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: $text-dark-color;
    font-weight: 500;
    margin-bottom: -5px;
  }

  textarea {
    width: 100%;
    min-height: 64px;
    padding: 0px 8px 0px 8px;
    border-radius: 4px;
    border: 2px solid $secondary-color;
    background-color: $complementary-color4;
    font-size: 16px;
    margin-right: 8px;
    line-height: 1.2;

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 5px $primary-color;
    }
  }
}

.select-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0px;

  label {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: $text-dark-color;
    font-weight: 500;
    margin-bottom: -5px;
  }

  select {
    width: 100%;
    height: 25px;
    border-radius: 4px;
    border: 2px solid $secondary-color;
    background-color: $complementary-color4;
    font-size: 15px;

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 5px $primary-color;
    }
  }
}

.button-area {
  align-content: end;
  display: flex;
  height: fit-content;
  padding-top: 24px;

  button {
    padding: 0px;
    border: none;
    display: flex;

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 5px $primary-color;
    }
  }

  mat-icon {
    display: flex;
    align-items: end;
    margin: 0px;
    color: $secondary-color;
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
      color: $complementary-color3;
    }
  }
}

.table-area {
  width: 100%;
  margin: 20px 0 5px 0;
  padding: 0;

  mat-table {
    width: 100%;
    max-height: 200px;
    border-collapse: collapse;
    border-radius: 4px;
    padding: 0px;
    overflow-y: auto;
    table-layout: fixed;
    display: table;
    --mat-table-row-item-outline-width: 0px;
  }

  .mat-header-row,
  .mat-row {
    height: 22px !important;
    line-height: 22px !important;
    display: table-row;
    justify-content: space-between;
    border: none !important;
  }

  .mat-header-row {
    background-color: $secondary-color;
    color: $tertiary-color;
  }

  .mat-row:nth-child(even) {
    background-color: $complementary-color4;
  }

  .mat-row:nth-child(odd) {
    background-color: lighten($complementary-color4, 7%);
  }

  .mat-cell,
  .mat-header-cell {
    padding: 0 4px !important;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
  }

  .mat-column-actions {
    width: 150px;
    text-align: center;
  }

  .list-action-button {
    color: $secondary-color;
    font-size: 18px;

    &:hover {
      color: $complementary-color3;
      cursor: pointer;
    }
  }

  .table-input-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0px;

    input {
      width: 100%;
      height: 20px;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid $secondary-color;
      background-color: white;
      font-size: 16px;
      margin-right: 8px;

      &:focus {
        outline: none;
        border-color: $primary-color;
        box-shadow: 0 0 5px $primary-color;
      }
    }
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
