<div class="forgot-password-container">
  <div class="row col-md-12">
    <span class="title">Redefinir senha</span>
      <p class="text">Informe o e-mail do seu cadastro para receber o link de redefinição de senha.</p>
  </div>
  <div class="row col-md-12">
    <form class="row forgot-password-form" [formGroup]="form">
      <div class="input-area col-md-6">
        <label for="email">E-mail *</label>
        <input type="email" id="email" formControlName="email" required />
      </div>
      <div class="row col-md-12 btn-container">
        <button type="submit" class="col-md-4 btn" (click)="sendPasswordResetEmail()">CONFIRMAR</button>
      </div>
      <div class="col-md-12" style="display: flex; justify-content: center;" 
            *ngIf="requestSent && form.hasError('emptyFields')">
        <span class="message-error">Os campos marcados com asterisco (*) são obrigatórios.</span>
      </div>
      <div class="col-md-12" style="display: flex; justify-content: center;" 
            *ngIf="requestSent && errorMessage">
        <span class="message-error">{{ errorMessage }}</span>
      </div>
    </form>
  </div>
</div>
